$white: #FFFEFB;
$black: #3F3F3F;
$blackInputHeaders: #49485E;
$backGround: #E5E5E5;
$greys: #B4B4B4;
$buttonDisabled: #EEEEEE;
$deleteBtnBackground: #FF8484;
$error: #e40000;

$margin: 16px;

$radius: 4px;
